/* Smartphone layout: check @media at-rule */
/* Don't forget: Presence and value, and substring value attribute selectors */

html, body{
  font-size: 16px; 
  font-family: 'Ubuntu', sans-serif;
  background-color: white;
  width: 100%; /* 600px; */
  max-width: 100%;
  overflow-x: hidden;
  margin: 0px;
  letter-spacing: 1px;

}

body {
  padding: 0px 0px 0px 0px; /* top right bottom left*/
  box-sizing: border-box;
}


/*
@font-face {
  font-family: 'Ubuntu', sans-serif;
  src: url("https://fonts.googleapis.com/css?family=Amatic+SC|Ubuntu|Ubuntu+Condensed&display=swap");
}

@font-face {
  font-family: 'Amatic SC';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Amatic SC Regular'), local('AmaticSC-Regular'), url(https://fonts.gstatic.com/s/amaticsc/v13/TUZyzwprpvBS1izr_vOEBOSfQZQ.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
} */


header, aside, main, footer{
  box-sizing: border-box;
}

header {
  width: 100%;
  margin-bottom: 0px;
  padding: 20px 20px 20px 20px;
  background-color: #1f4060;
  position: fixed;
/*  box-shadow: 2px 2px #345a5c;*/
  border-bottom: solid;
}


main{
  width: 100%;
  min-height: 600px;
  background-color: white;
  padding: 30px 0px 0px 0px;
}


#outer-container {
	display: table;
	width: 100%;
   min-height: 600px;
}


#sidebar{
  display: table-cell;
  vertical-align: top;
  width: 220px;
  background-color: #5590cd;
  padding: 10px 10px 0px 10px;
  padding-top: 250px;
  padding-bottom: 300px;
  box-shadow: 1px 1px #345a5c;
}

#content{
  display: table-cell;
  min-width: 80%;
  vertical-align: top;
  padding: 250px 10px 20px 20px;
}

#gamenames a{
font-size: 20px;
  color: #003636;
}

#gamenames a:hover{
font-size: 20px;
  color: #345a5c;
}
/*------------------------*/

footer{ 
  color: white;
  padding: 20px 20px 20px 20px;
  background-color: #18344e;
  bottom:0;
  font-size: 12px;
}

#footer a{
  color: #b2e879;
}


h1, h2, h3 {
  color: #0b253d;
  text-align: left;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 30px 0px;
}

h1{
  font-size: 100px;
  letter-spacing: 2px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-left: 220px;
  font-family: 'Amatic SC';
}


.main-page h1 a{  
  color: #b2e879;
  text-align: center;
/*  text-shadow: 3px 3px 0px white; */
  text-decoration: none; 
  margin: 0px 0px 0px 0px;
}

h2 {  
  font-size: 40px; /* 22px */
  text-align: left;
  text-shadow: 0px 0px 0px black;

}

h3 {  
  font-size: 35px; /* 16px */
  text-align: left;
  padding-left:10px;
  color: #b2e879;

}


p, li {
  font-size: 16px;    
  line-height: 1.5;
  letter-spacing: 1px;
}


article{
}



.div-nav{
  font-size: 17px;
  font-weight: bold;
  text-align: left;
  padding-left:210px;
}

.div-nav a{
  background-color: #b2e879;
  padding: 6px 12px 6px 12px;
  border-radius: 30px; 
  border-style: solid;
  margin: 1%;
/*  box-shadow: 3px 3px;*/
 text-decoration: none;
}

.div-nav a:hover{
  background-color: #cfedb0;
 text-decoration: none;
}



#footer .footer-nav a{
  color: #003636;
  font-size: 20px;
  font-weight: bold;
  margin: 1%;
  background-color: white;
  border-radius: 30px; 
  padding: 6px 12px 6px 12px;
}

.footer-nav{
  text-align: right;
}


span.webcontact{
  color:#cfedb0;
  padding-left: 100px;
}

.name{
  font-size: 24px;
  line-height: 1.5;
}

.affil{
  font-size: 16px;
  font-style: italic;
  line-height: 1.5;
}

.cv_sort{
  padding: 0px 0px 0px 20px;
}

.cv_sub{
  text-indent:100px;
}


.categories{
 font-size: 18px;
 font-weight: bold;

}

.email{
 font-size: 20px;
 font-weight: bold;  
  background-color: #9ed62b;
  padding: 4px 8px 4px 8px;
  border-radius: 30px; 

}

.caption{
 font-size: 14px;
 font-weight: bold;  
}

.citation{
 font-size: 14px;
 font-weight: bold;  
}


.figure{
 text-align: center;
}

#sidebar a:link{
  font-size: 14px;
  padding-left: 10px;
  font-weight: normal;
  padding: 2px 10px 2px 10px;
  line-height: 2;
}

#sidebar a:hover{
  color: black;
  background-color: #78a6d3;
  font-size: 14px;
  font-weight: normal;
  border-radius: 30px;
}


.cv_sort img{
  float:left;
  padding: 10px 20px 0px 20px;
  width: 150px;
}


a:link, a:visited {
  color: #003636;
  font-weight: bold;
}

a:hover {
  color: #002929;
  font-weight: bold;
  text-decoration: none; 
}

#language {
  background-color: #006699;
  padding: 1px 5px 1px 5px;
  border-radius: 30px; 
  border-style: solid;
  border-color: #2c6498;
  margin: 1%;
  position:absolute;
  top: 10px;
  right: 10px;
  color: #b2e879;
  font-weight: bold;
  text-align: right;
  text-decoration: none;
  font-size: 25px;
  margin-bottom:0px;
}

#logo{
 position:absolute;
 top: 20px;
 left: 30px;
 height:180px;
 width:180px;
}  

#fund{
 text-align: right;

}

#license{
 text-align: left;

}




















