/* Smartphone layout: check @media at-rule */
/* Don't forget: Presence and value, and substring value attribute selectors */

html, body{
  font-size: 16px; 
  font-family: 'Ubuntu Condensed', sans-serif;
  background-color: white;
  width: 100%; /* 600px; */
  max-width: 100%;
  overflow-x: hidden;
  margin: 0px;
  letter-spacing: 2px;

}

body {
  padding: 0px 0px 0px 0px; /* top right bottom left*/
  box-sizing: border-box;
}


/* */


header, aside, main, footer{
  box-sizing: border-box;
}

header {
  width: 100%;
  margin-bottom: 0px;
  padding: 20px 20px 20px 20px;
  background-color: #9ab88d;
  position: fixed;
  box-shadow: 2px 2px #345a5c;
}


main{
  width: 100%;
  min-height: 600px;
  background-color: white;
  padding: 0px 0px 0px 0px;
}


#outer-container {
	display: table;
	width: 100%;
   min-height: 600px;
}


#sidebar{
  display: table-cell;
  width: 20%;
  vertical-align: top;
  min-width: 140px;
  background-color: #deedd8;
  padding: 10px 10px 0px 10px;
  padding-top: 200px;
  box-shadow: 1px 1px #345a5c;
}

#content{
  display: table-cell;
  width: 80%;
  vertical-align: top;
  padding: 200px 10px 20px 20px;
}

#gamenames a{
font-size: 20px;
  color: #003636;
}

#gamenames a:hover{
font-size: 20px;
  color: #345a5c;
}
/*------------------------*/

footer{ 
  color: white;
  padding: 20px 20px 20px 20px;
  background-color: #262e23;
  bottom:0;
}


h1, h2, h3 {
  color: #345a5c;
  text-align: center;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 20px 0px;
}

h1{
  font-size: 70px;
  letter-spacing: 2px;
  font-weight: bold;
}

.main-page h1 a{  
  color: #345a5c;
  text-align: center;
  text-shadow: 3px 3px 0px white;
  text-decoration: none; 
}

h2 {  
  font-size: 40px; /* 22px */
  text-align: left;
  text-shadow: 0px 0px 0px black;

}

h3 {  
  font-size: 25px; /* 16px */
  text-align: left;
  text-shadow: 0px 0px 0px black;

}


p, li {
  font-size: 16px;    
  line-height: 1.5;
  letter-spacing: 1px;
}


article{
}



.div-nav{
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.div-nav a{
  background-color: #a8cc5e;
  padding: 6px 12px 6px 12px;
  border-radius: 30px; 
  border-style: none;
  margin: 1%;
  box-shadow: 3px 3px;
}

.div-nav a:hover{
  background-color: #d5ff80;
}



footer .footer-nav a{
  font-size: 20px;
  font-weight: bold;
  margin: 1%;
  background-color: white;
  border-radius: 30px; 
  padding: 6px 12px 6px 12px;
}

.footer-nav{
  text-align: right;
}


.div-rights {
  color: white;
  font-size: 14px;
}

.name{
  font-size: 24px;
  line-height: 1.5;
}

.affil{
  font-size: 16px;
  font-style: italic;
  line-height: 1.5;
}

.cv_sort{
  padding: 0px 0px 0px 20px;
}

.cv_sub{
  text-indent:100px;
}


.categories{
 font-size: 18px;
 font-weight: bold;

}

.email{
 font-size: 20px;
 font-weight: bold;  
  background-color: #9ed62b;
  padding: 4px 8px 4px 8px;
  border-radius: 30px; 

}

.caption{
 font-size: 14px;
 font-weight: bold;  
}

.citation{
 font-size: 14px;
 font-weight: bold;  
}


.figure{
 text-align: center;
}

#sidebar a:link{
  font-size: 14px;
  padding-left: 10px;
  font-weight: normal;
  padding: 2px 10px 2px 10px;
  line-height: 2;
}

#sidebar a:hover{
  color: black;
  background-color: #f0f7ee;
  font-size: 14px;
  font-weight: normal;
  border-radius: 30px;
}


.cv_sort img{
  float:left;
  padding: 10px 20px 0px 20px;
  width: 150px;
}


a:link, a:visited {
  color: #003636;
  font-weight: bold;
}

a:hover {
  color: #002929;
  font-weight: bold;
  text-decoration: none; 
}






















